<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Crear Nuevo Empleado</h1>
    <form action="#" th:action="@{/web/employees-save}" th:object="${employee}" method="post">
        <div class="form-group">
            <label for="id">Número de Empleado:</label>
            <input type="text" id="id" name="id" required="required" />
        </div>
        <div class="form-group">
            <label for="ename">Nombre:</label>
            <input type="text" id="ename" name="ename" required="required" />
        </div>
        <div class="form-group">
            <label for="job">Empleo:</label>
            <input type="text" id="job" name="job" required="required" />
        </div>
        <div class="form-group">
            <label for="deptno">Departamento:</label>
            <select id="deptno" name="deptno" th:field="*{deptno}">
                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.dname}"></option>
            </select>
        </div>
        <button class="form_button" type="submit">Crear Empleado</button>
    </form>
    <a href="http://localhost:8080/employee-app/web">Volver</a>
</body>
</html>