<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI API REST</title>
    <link rel="stylesheet" href="/indexStyles.css">
</head>
<body>
<div class="container">
    <h1>MI API REST</h1>
    <p>Seleccione una opción</p>
    <div class="buttons">
        <button onclick=location.href="http://localhost:8080/employee-app/web/departments">Ver Departamentos</button>
        <button onclick=location.href="http://localhost:8080/employee-app/web/employees">Ver Empleados</button>
    </div>
    <div>
        <button onclick=location.href="http://localhost:8080/employee-app/web/departments-save">Crear Departamento</button>
        <button onclick=location.href="http://localhost:8080/employee-app/web/employees-save">Crear Empleado</button>

    </div>
    <!--
    <button onclick="location.href='/alta-departamentos'">Alta Departamentos</button>
    -->
    </div>
</div>
</body>
</html>
